body {
  background-color: rgb(0, 0, 128);
  color: white;
}

h1 {
  font-size: 48px;
  text-align: center;
}

h2 {
    text-align: center;
}

button {
    font-size: 16px;
    padding: 2px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggleBtn {
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block; /* Make button a block element */
    margin: 20px auto; /* Center button horizontally and add spacing above */
  }

#javaLinks {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
   text-align: center;
}

#javaLinks p {
    margin: 10px 0;
  }
  
  #javaLinks a:hover {
    color: rgb(255, 165, 0);
  }

#javaLinks.visible {
    visibility: visible;
    opacity: 1;
}

a {
  color: rgb(24, 232, 13);
  text-decoration: none;
}
